{
  "parser": "@babel/eslint-parser",
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "rules": {
    "require-jsdoc": "off",
    "semi": "off",
    "linebreak-style": "off",
    "operator-linebreak": "off",
    "eol-last": "off",
    "arrow-parens": "off",
    "quotes": "off",
    "object-curly-spacing": "off"
  },
  "extends": ["eslint:recommended", "google"],
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "plugins": ["html"],
  "settings": {
    "html/html-extensions": [".html", ".we"]
  }
}
